body{
background-color : black; 
background-image: url(bacground.png);
font-family : century gothic;
font-size: x-large;
color : white;
}
h1{
text-align: center;


}


p{
text-align: center;
font-size: medium;
}
.boutton{
    text-align: center;
    font-size: medium;
}

button{


border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:white;
	font:bold 13px Arial;
	color:black;
	width:auto;
       min-width: 10%;
       
        font-size: large;
	margin-right: auto;
margin-left: auto;
margin-bottom: 1%;
font-size: medium;
    
}



section{
	border : solid;
	border-color : white ; 
	padding : 15px ;
	margin : 15px;
	color :white;

}
article {
	border : solid;
	border-color : white ; 
	padding :15px ;
	margin : 15px;
	color :white; 
	font-size: medium;
}



