body{
background-color : black; 
background-image: url(background.jpeg);
font-family : century gothic;
font-size: x-large;
color : white;
}
h1{
text-align: center;


}


p{
text-align: center;
font-size: medium;
}
.boutton{
    text-align: center;
    font-size: medium;
}

#image{
	
	
	width : 100%;
	height : 100%;

	top : 10px;

}

a{
	color : white;
	display:block;
	text-align:center;
}


button{


border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:white;
	font:bold 13px Arial;
	color:black;
	width:auto;
       min-width: 10%;
       
        
	margin-right: auto;
margin-left: auto;
margin-bottom: 1%;
font-size: medium;
    
}
button:hover {
   border-top-color: #28597a;
   background: grey;
   color: white;
   }
button:active {
   border-top-color: #1b435e;
   background: black;
   }
   
.juste:active{
	border-top-color: #1b435e;
   background: green;
}

.pastrouve:active{
	border-top-color: #1b435e;
   background: red;
}

section{
	
	padding : 15px ;
	margin : 15px;
	color :white;

}
article {
	border : solid;
	border-color : white ; 
	padding :15px ;
	margin : 15px;
	color :white; 
	font-size: medium;
}



